[Unit]
Description=pisugar-wifi-config
Requires=bluetooth.service dbus.service
After=bluetooth.service dbus.service

[Service]
ExecStart=/usr/bin/pisugar-wifi-config
ExecStop=/bin/kill $MAINPID
Type=simple
KillMode=process
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target